# MongoDB Connection String
# For Local MongoDB:
MONGO_URI=mongodb://localhost:27017/

# For MongoDB Atlas (Cloud):
# Replace <username>, <password>, and cluster URL with your MongoDB Atlas details:
# MONGO_URI=mongodb+srv://your_username:your_password@cluster0.xxxxx.mongodb.net/complaint_system_db?retryWrites=true&w=majority

MONGO_DB_NAME=complaint_system_db
SECRET_KEY=django-insecure-%t9g@b7)cf3#5l20$88^28$rj+s#md)epp+pp40zxe!)lx9-5f
