# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Django
db.sqlite3
*.log

# Django static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db